extensions:
	dropzoneuploader: AlesWita\DropzoneUploader\Extension

application:
	mapping:
		*: AlesWita\DropzoneUploader\Tests\App\Presenters\*Presenter

services:
	fake.translator:
		class: AlesWita\DropzoneUploader\Tests\App\Service\FakeTranslator

	base.presenter:
		class: AlesWita\DropzoneUploader\Tests\App\Presenters\BasePresenter

	routing.router: AlesWita\DropzoneUploader\Tests\App\Router\Router::createRouter
