dropzoneuploader:
	dropzoneTemplate:
		main: %appDir%/../files/template.latte
		form: %appDir%/../files/template.latte
		files: files.latte
		js: %appDir%/../files/template.latte
	uploadDriver:
	    driver: AlesWita\DropzoneUploader\UploadDriver\Move