dropzoneuploader:
	dropzoneTemplate: %appDir%/../files/template.latte
	uploadDriver:
		driver: AlesWita\DropzoneUploader\UploadDriver\Move
	settings:
		maxFilesize: 1MB
		acceptedFiles: foo
	messages:
		dictDefaultMessage: foo
