dropzoneuploader:
	dropzoneTemplate:
		main: %appDir%/../files/template.latte
		form: %appDir%/../files/template.latte
		files: %appDir%/../files/template.latte
		js: %appDir%/../files/template.latte
	uploadDriver:
		driver: AlesWita\DropzoneUploader\UploadDriver\Move
	settings:
		maxFilesize: 1MB
		acceptedFiles:
		    - foo
	messages:
		dictDefaultMessage: foo
