dropzoneuploader:
	dropzoneTemplate: ::constant(AlesWita\Components\DropzoneUploader\Factory::DROPZONE_BOOTSTRAP_V4_TEMPLATE)
	uploadDriver:
		driver: AlesWita\Components\DropzoneUploader\UploadDriver\Ftp
		settings:
			url: foo
	messages:
		dictRemoveFileConfirmation: foo
