<div id="previews">
 <div id="template" class="row alert">

  {* file name *}
  <div class="col-4 text-truncate" data-dz-name></div>

  {* file size *}
  <div class="col-1 text-right" data-dz-size></div>

  {* progress *}
  <div class="col-2">
   <div class="progress">
    <div class="progress-bar" style="width: 0%" data-dz-uploadprogress></div>
   </div>
  </div>

  {* file error *}
  <div class="col-3 text-truncate" data-dz-errormessage></div>

 </div>
</div>
